In [1]:
import numpy as np
import pandas as pd


print(np.__version__)
print(pd.__version__)

2.2.4
2.2.3

In [4]:
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv

--2025-05-18 14:59:33--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 298573 (292K) [text/plain]
Saving to: ‘laptops.csv’

laptops.csv         100%[===================>] 291.58K  --.-KB/s    in 0.005s

2025-05-18 14:59:33 (58.5 MB/s) - ‘laptops.csv’ saved [298573/298573]

In [5]:
# Reading the Laptop Price Data set

laptop_df = pd.read_csv('laptops.csv')
laptop_df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [10]:
laptop_df.columns

Index(['Laptop', 'Status', 'Brand', 'Model', 'CPU', 'RAM', 'Storage',
       'Storage type', 'GPU', 'Screen', 'Touch', 'Final Price'],
      dtype='object')

In [6]:
print(f'There are {len(laptop_df)} records in the dataset')
print(f'There are {laptop_df.Brand.nunique()} brands in the dataset')

There are 2160 records in the dataset
There are 27 brands in the dataset

In [8]:
laptop_df.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [9]:
print('From the null count above, we can tell that there are 3 columns with missing values')

From the null count above, we can tell that there are 3 columns with missing values

In [17]:
## Maximum final price
mask = laptop_df.Brand == 'Dell'
laptop_df[mask]['Final Price'].describe()

count      84.000000
mean     1153.839881
std       671.795071
min       379.000000
25%       699.000000
50%      1003.000000
75%      1313.810000
max      3936.000000
Name: Final Price, dtype: float64

In [20]:
print('The max final price for Dell laptops is  $3936 in the current dataset')

The max final price for Dell laptops is  $3936 in the current dataset

In [22]:
## Median value

laptop_df.Screen.describe()

count    2156.000000
mean       15.168112
std         1.203329
min        10.100000
25%        14.000000
50%        15.600000
75%        15.600000
max        18.000000
Name: Screen, dtype: float64

In [23]:
print('The median value of the Screen Column in the dataset is 15.60 ')

The median value of the Screen Column in the dataset is 15.60

In [26]:
laptop_df.Screen.value_counts()

Screen
15.60    1009
14.00     392
16.00     174
17.30     161
13.30     131
16.10      48
17.00      33
13.00      27
15.00      21
13.40      19
13.50      19
11.60      16
14.20      14
12.30      13
14.10      11
13.60      11
16.20      10
15.30       8
10.50       7
12.40       6
14.40       6
15.40       5
12.00       4
18.00       3
14.50       3
13.90       2
12.50       1
10.95       1
10.10       1
Name: count, dtype: int64

In [27]:
print('The most frequent screen size is 15.60 with 1009 entries')

The most frequent screen size is 15.60 with 1009 entries

In [46]:
# filling the NA values with 15.60
mask = laptop_df.Screen.isnull() # getting the mask for null values

# filling in
laptop_df.loc[mask, 'Screen'] = 15.6

In [47]:
laptop_df.Screen.isnull().sum()

np.int64(0)

In [48]:
laptop_df.Screen.median()

np.float64(15.6)

In [ ]:
print('No, the median has not changed')

In [49]:
## Sum of weights

laptop_df.Brand.value_counts()

Brand
Asus                415
HP                  368
Lenovo              366
MSI                 308
Acer                137
Apple               116
Dell                 84
Microsoft            77
Gigabyte             48
Razer                37
Medion               32
LG                   32
Alurin               29
PcCom                24
Samsung              22
Dynabook Toshiba     19
Vant                 11
Deep Gaming           8
Primux                8
Innjoo                6
Thomson               4
Prixton               3
Millenium             2
Denver                1
Jetwing               1
Realme                1
Toshiba               1
Name: count, dtype: int64

In [67]:
injoo_laptops = laptop_df[laptop_df.Brand == 'Innjoo']
injoo_laptops

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
1478,InnJoo Voom Excellence Intel Celeron N4020/8GB...,New,Innjoo,Voom,Intel Celeron,8,256,SSD,NaN,15.6,No,311.37
1479,InnJoo Voom Excellence Pro Intel Celeron N4020...,New,Innjoo,Voom,Intel Celeron,8,512,SSD,NaN,15.6,No,392.55
1480,Innjoo Voom Intel Celeron N3350/4GB/64GB eMMC/...,New,Innjoo,Voom,Intel Celeron,4,64,eMMC,NaN,14.1,No,251.40
1481,Innjoo Voom Laptop Max Intel Celeron N3350/6GB...,New,Innjoo,Voom,Intel Celeron,6,64,eMMC,NaN,14.1,No,383.61
1482,Innjoo Voom Laptop Pro Intel Celeron N3350/6GB...,New,Innjoo,Voom,Intel Celeron,6,128,SSD,NaN,14.1,No,317.02
1483,Innjoo Voom Pro Intel Celeron N3350/6GB/128GB ...,New,Innjoo,Voom,Intel Celeron,6,128,eMMC,NaN,14.1,No,431.38

In [68]:
injoo_laptops.columns

Index(['Laptop', 'Status', 'Brand', 'Model', 'CPU', 'RAM', 'Storage',
       'Storage type', 'GPU', 'Screen', 'Touch', 'Final Price'],
      dtype='object')

In [69]:

injoo_laptops = injoo_laptops.drop(['Laptop', 'Status', 'Brand', 'Model', 'CPU', 'Storage type', 'GPU', 'Touch', 'Final Price'], axis = 1)

In [76]:
X = injoo_laptops.to_numpy()
X

array([[  8. , 256. ,  15.6],
       [  8. , 512. ,  15.6],
       [  4. ,  64. ,  14.1],
       [  6. ,  64. ,  14.1],
       [  6. , 128. ,  14.1],
       [  6. , 128. ,  14.1]])

In [77]:
X.shape

(6, 3)

In [79]:
XTX = X.T @ X

In [84]:
y = np.array([1100, 1300, 800, 900, 1000, 1100])

XTX_inv = np.linalg.inv(XTX)

w = (XTX_inv @ X.T).dot(y)

print(w)

[45.58076606  0.42783519 45.29127938]

In [85]:
round(float(w.sum()), 2)

91.3